.app__list-container{
    padding: 1.5rem;
}

.app__list-formcontrol {
    min-width: 120px;
    margin: .5rem .5rem 30px !important;
}

.app__list-list{
    height: 75vh;
    overflow: auto;
}


.app__list-selectEmpty{
    margin-top: 1rem;
}


.app__list-marginbottom{
    margin-bottom: 30px;
}


